@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');
@fontface {
    font-family: 'gilroyBold';
    src: url('fonts/Gilroy-ExtraBold.otf');
}

@fontface {
    font-family: 'gilroy';
    src: url('fonts/Gilroy-Light.otf');
}

body {
    margin: 0;
    font-family: 'gilroy', sans-serif;
    color: black;
}

h1,
h2,
h3 {
    font-family: 'gilroyBold', sans-serif;
    margin-top: 0px;
}

.width {
    width: 60%;
}

.sidenav {
    display: flex;
}

.sidenav li {
    flex: 1;
    list-style-type: none;
}

.sidenav li a {
    flex: 1;
    text-decoration: none;
    color: black;
}

.content {
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#pf {
    background-image: url(images/ik2%20kopie.JPG);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: bottom;
}

img {
    width: 600px;
    height: 700px;
}
#grouppic{
    width: 100%;
    height: 100%;
}

.button {
    border-radius: 5px;
    color: white;
    background-color: dodgerblue;
    padding: 5px 10px;
}

.button:hover {
    background-color: darkblue;
}

.buttonS {
    flex: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    align-self: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-family: 'gilroyBold', sans-serif;
}

#color1 {
    background-color: #134C67;
}

#color2 {
    background-color: #7CB2CC;
}

#color3 {
    background-color: #6FCF97;
}

#color4 {
    background-color: #F2C94C;
}

.flex-container {
    display: flex;
    width: 100%;
}

.flex-container div {
    padding-right: 10px;
    margin-right: 15px;
}

.topicIntro {
    width: 60%;
}

#text {
    width: 40%!important;
    color: black;
    padding: 40px;
}

.contentLabweek {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.flex {
    display: flex;
}

.article {
    margin-left: 50px;
}
@media screen and (max-width: 1180px) {
    .flex {
    display: flex;
    flex-direction: column;    
}
    .article {
    margin-top:  25px;
        margin-bottom: 25px;
    margin-left: 0px;    
}
}